@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;  /*reseteo del margin*/
    padding: 0; /*reseteo del padding*/
    box-sizing: border-box;  /*Ajuste del contenido*/
    font-family: "Inter", sans-serif;   /*Aplicacion de la familia de la fuente de texto*/
}

.podcast{
    overflow-x: hidden; /*Ocultar el contenido que salga del eje x*/
}

:root{
    --colorTitulos: white;
    --espaciadoComun: 2vw;
    --fondororsa: #ffacb4;
    --fondoverde: rgb(8,172,140);
    --losabsolutos: absolute;
    --losrelativos: relative;
    --derecha: right;
    --izquierda: left;
    --anular: none;
    --mitad_porc: 50%;
}


/* encabezado */

.encabezado{
    display: flex;  /*Estructura dinamica del contenedor*/
    justify-content: space-between;  /*Maximo espacio posible*/
}

.encabezado__iconos{
    display: flex;  /*Estructura dinamica del contenedor*/
    gap: var(--espaciadoComun);   /*Espacio entre elementos*/
    width: 10vw;    /*ancho del elemento*/
}

/* primer contenedor */

.contenedores{
    background-color: var(--fondoverde);    /*Color de fondo*/
    width: 100%;    /*ancho del elemento*/
    height: 70vw;   /*Alto del elemento*/
    display: flex;  /*Estructura dinamica del contenedor*/
    flex-direction: column;     /*Direccion en columna del contendor*/
    position: var(--losrelativos);     /*Posicion relativa*/
    padding: 4.8vw 5vw 0 5vw;   /*Espacio dentro del contenedor*/
}

.contenedores__microfono{
    position: var(--losabsolutos); /*Posicion absoluta*/
    right: var(--mitad_porc);   /*ubicar por la derecha*/
    width: 2.8vw;   /*tamaño de la imagen*/
}

.contenedores__imagen-puntas{
    position: var(--losabsolutos);     /*Posicion absoluta*/
    top: 0;   /*Ubicado al inicio del contendor*/
    left: 23vw;     /*Ubicado por el lado izquierdo del contenedor*/
    width: 11vw;    /*ancho del elemento*/    
}

.icono-menu{
    color: var(--colorTitulos);   /*Color blanco para el icono*/
    font-size: 3vw;     /*Tamaño del icono*/   
}

.contenedores_texto {
    font-size: var(--espaciadoComun);     /*Tamaño de la letra*/
    width: 48vw;    /*ancho del elemento*/
    display: flex;  /*Estructura dinamica del contenedor*/
    flex-direction: column;     /*Direccion en columna del contendor*/
    gap: var(--espaciadoComun);   /*Espacio entre elementos*/
    margin-top: 9vw;    /*Margen por debajo del contenedor*/
}

.contenedores_texto__titulos{
    margin-bottom: 3vw; /*Margen debajo del contenedor*/
}

.contenedores_texto__titulo{
    color: var(--colorTitulos);   /*Color para el texto*/
    font-size: 10vw;    /*Tamaño de la letra*/
    height: 8vw;    /*Alto del contenedor*/
}

.boton{
    width: 10vw;    /*ancho del elemento*/
    height: 2.8vw;  /*Alto del elemento*/
    font-size: 1vw;     /*Tamaño del boton*/
    border-radius: 20vw;    /*Bordes redondeados para las puntas del boton*/
    border: 2px solid black;    /*Borde visible para el boton*/
    font-weight: bold;      /*Darle grosor al texto*/
    cursor: pointer;    /*Estilo para cambiar la forma del cursor*/
}

.boton__rosado{
    background-color: var(--fondororsa);  /*Color de fondo para el boton*/
}

.boton__verde{
    background-color: var(--fondoverde);   /*Color de fondo para el boton*/
}

.contenedores_imagenes__mujer{
    position: var(--losabsolutos);     /*Posicion absoluta*/
    width: 29vw;    /*ancho de la imagen*/
    height: 48vw;   /*Alto del elemento*/
    right: 11vw;    /*Ubicado por el lado derecho*/
    bottom: 0;      /*Ubicado al final del contenedor*/
    filter: grayscale(100%);    /*Darle colores oscuros a la imagen*/
    z-index: 4;     /*Ubicarla como cuarta(osea que estara encima de la tercera posicion)*/
}

.contenedores_imagenes__eclipse{
    position: var(--losabsolutos);  /*Posicion absoluta*/
    bottom: 0;  /*Ubicado al final del contenedor*/
    right: 1.8%;    /*Ubicado por el lado derecho*/
    z-index: 3;     /*Ubicarla como tercera(osea que estara encima de la segunda posicion)*/
    width: 46vw;    /*ancho de la imagen*/
}

.contenedores_imagenes__shape{
    position: var(--losabsolutos);  /*Posicion absoluta*/
    right: 2%;  /*Ubicado por el lado derecho*/
    top: 55%;   /*Ubicado por el inicio del contenedor*/
    width: 14%; /*Ancho de la imagen*/
}

.contenedores_imagenes__raya{
    position: var(--losabsolutos);  /*Posicion absoluta*/
    height: 80vw;   /*Alto de la imagen*/
    top: -61%;  /*Ubicado por el inicio del contenedor*/
    left: 12%;  /*Ubicado por el lado izquierdo del contenedor*/
    z-index: 3;     /*Ubicarla como tercera(osea que estara encima de la segunda posicion)*/
    width: 80vw;    /*Ancho de la imagen*/
    filter: invert(1);  /*Invertir los colores de la imagen*/
}

.contenedores_imagenes__raya-inv{
    position: var(--losabsolutos);  /*Posicion absoluta*/
    top: 25%;   /*Ubicado por el inicio del contendor*/
    left: 63%;  /*Ubicado por el lado izquierdo del contenedor*/
    height: 8vw;    /*Alto del elemento*/
}

.contenedores_imagenes__texto{
    position: var(--losabsolutos);  /*Posicion absoluta*/
    right: 5%;  /*Ubicado por el lado derecho del contenedor*/
    z-index: 4; /*Ubicarla como cuarta(osea que estara encima de la tercera posicion)*/
    bottom: 3%;/*Ubicado al final del contenedor*/
    width: 40vw;    /*ancho de la imagen*/
}

.contenedores_numeros{
    position: var(--losabsolutos);     /*Posicion absoluta*/
    right: 6.6vw;   /*Ubicado por el lado derecho del contenedor*/
    color: var(--colorTitulos);   /*Color blanco para los numeros*/
    top: 16vw;  /*Ubicado por el inicio del contendor*/
    text-align: var(--derecha);      /*alinear el texto por la derecha*/
}

.contenedores_numeros__linea{
    width: 1vw;     /*ancho del elemento*/
    height: 0.2vw;    /*Alto del elemento*/
    background-color: var(--colorTitulos);    /*Color de fondo*/
    float: var(--derecha);   /*Ubicacion del elemento (flota)*/   
    border: 0.1vw solid var(--colorTitulos);
}

.contenedor__scroll{
    display: flex;  /*Estructura dinamica del contenedor*/
    align-items: center;    /*Ubicar los elementos del contenedor por el centro*/
    color: var(--colorTitulos);   /*Color blanco para los elementos*/
    gap: var(--espaciadoComun);   /*Espacio entre elementos*/
    margin-top: 4vw;    /*Margen encima del contenedor*/
}

/* segundo contenedor */

.contenedores--what-we-do{
    background-color: var(--fondororsa);   /*Color de fondo del contenedor*/
    align-items: center;    /*Ubicar los elementos del contenedor por el centro*/
    text-align: center;     /*Alinear el texto del contenedor por el centro*/
}

.titulos__pequeño{
    font-size: 3vw;     /*Tamaño de la letra*/
}

.titulos_what-we-do{
    margin-bottom: 4vw; /*Margen debajo del contenedor*/
}

.contenedores_texto--what-we-do{
    width: 80vw;    /*ancho del elemento*/
    align-items: center;    /*Ubicar los elementos del contenedor por el centro*/
    text-align: center;     /*Ubicar el texto del contenedor por el centro*/
}

.contenedores_texto__parrafo{
    width: 55vw;    /*ancho del elemento*/
    text-align: center;     /*Ubicar el texto del contenedor por el centro*/
}

.contenedores_texto__parrafo--inicial{
    text-align: start;  /*Alinear texto por la derecha*/
}

.contenedores_texto__titulo--pequeño{
    font-size: 3vw;     /*Tamaño del texto*/
} 

.contenedores_imagenes__shape-verde{
    position: var(--losabsolutos);     /*Posicion absoluta*/
    width: 9vw;     /*ancho de la imagen*/
    bottom: 5vw;    /*Ubicado al final del contenedor*/
}

.contenedores_imagenes__raya-down{
    position: var(--losabsolutos);  /*Posicion absoluta*/
    left: 5%;   /*Ubicado por el lado izquierdo del contenedor*/
    top: 15%;   /*Ubicado por el inicio del contendor*/
    width: 16vw;    /*ancho de la imagen*/
}

.contenedores_imagenes__raya-up{
    position: var(--losabsolutos);  /*Posicion absoluta*/
    right: 5%;  /*Ubicado por el lado derecho del contenedor*/
    bottom: 8%; /*Ubicado al final del contenedor*/
    width: 14vw;    /*Ancho de la imagen*/
}

.contenedores_imagenes__texto-verde{
    position: var(--losabsolutos);  /*Posicion absoluta*/
    bottom: -15%;   /*Ubicado al final del contenedor*/
    left: 0;    /*Ubicado por el lado izquierdo del contenedor*/
    width: 21vw;    /*ancho de la imagen*/
}

/* tercer contenedor */

.contenedores--meet{
    flex-direction: row;     /*Direccion en fila del contendor*/
    gap: 8vw;   /*Espacio entre elementos*/
    align-items: center;    /*Ubicar los elementos del contenedor por el centro*/
}

.contenedores_imagenes--meet{
    width: 35vw;    /*ancho de la imagen*/
    height: 35vw;   /*Alto del elemento*/
    overflow: hidden;   /*Ocultar lo que se salga del contenedor*/
    border: 1px solid;  /*Borde visible*/
    border-radius: var(--mitad_porc);     /*Curvatura para el borde*/
    position: var(--losrelativos);     /*Posicion relativa*/
}

.contenedores_imagenes__viendo-cel{
    width: 120%;    /*ancho de la imagen*/
    height: 110%;   /*Alto del elemento*/
    filter: grayscale(100%);    /*Darle colores oscuros a la imagen*/
    position: var(--losabsolutos);     /*Posicion absoluta*/
    z-index: 1;     /*Ubicarla como primera(osea que estara debajo de las siguientes posiciones)*/
}

.contenedores_texto__titulo--meet{
    margin-bottom: 3vw;     /*Ubicado al final del contenedor*/
}

.contenedores_texto__parrafo--meet{
    text-align: var(--izquierda);   /*Ubicar el texto del contenedor por la izquierda*/
    width: 100%;    /*ancho del elemento*/
    margin-bottom: 4vw;     /*Margen debajo del contenedor*/
}


.contenedores__imagen-puntas--meet{
    z-index: 2;     /*Ubicarla como segunda(osea que estara encima de la primera posicion)*/
    top: 30%;   /*Ubicar por el inicio del contendor*/
    left: 2.4%;     /*Ubicar por la izquierda del contendor*/
}

/* cuarto contenedor */

.contenedores--realidad-virtual{
    background-color: var(--fondororsa);    /*Color de fondo*/
}

.contenedores_texto__parrafo--realidad-virtual{
    text-align: var(--izquierda);   /*Alinear el texto por la izquierda*/
    width: 40vw;    /*ancho del elemento*/
}

.contenedores_imagenes__chica-realidad{
    position: var(--losabsolutos);  /*Posicion absoluta*/
    right: 0.3%;    /*Ubicado por el lado derecho del contenedor*/
    bottom: 0;  /*Ubicado al final del contenedor*/
    width: 50vw;    /*ancho de la imagen*/
    height: 58vw;   /*Alto de la imagen*/
    filter: grayscale(100%);    /*Darle colores oscuros a la imagen*/
}

.contenedores_imagenes__eclipse-realidad{
    position: var(--losabsolutos);  /*Posicion absoluta*/
    right: 0;   /*Ubicado por el lado derecho del contenedor*/
    width: 39vw;    /*ancho de la imagen*/
}

.contenedores_imagenes__raya-realidad-up{
    position: var(--losabsolutos);  /*Posicion absoluta*/
    top: 10%;   /*Ubicado por el inicio del contendor*/
    left: 35%;  /*Ubicado por el lado izquierdo del contenedor*/
}

.contenedores_imagenes__raya-realidad-down{
    position: var(--losabsolutos);  /*Posicion absoluta*/
    bottom: 10%;    /*Ubicado al final del contenedor*/
    left: 35%;  /*Ubicado por el lado izquierdo del contenedor*/
}

.contenedores_texto__titulos-realidad{
    margin-bottom: 4vw; /*Margen debajo del contenedor*/
}

/* quinto contenedor */

.contenedor_grid{
    display: grid;  /*Display grid*/
    width: 100%;    /*ancho del contenedor*/
    background-color: var(--fondoverde);    /*Color de fondo*/
    grid-template-columns: var(--mitad_porc) var(--mitad_porc); /*Columnas de la grid*/
    grid-template-rows: 60vw 60vw 60vw;     /*Filas de la grid*/
    grid-template-areas: 
    'contenedores_imagenes-grid contenedor_grid__texto--up'
    'contenedor_grid__texto--mid imagenes_mid'
    'imagenes_down contenedor_grid__texto--down';           /*Areas de la grid*/
    padding: 4.8vw 5vw 0 5vw;   /*Relleno del contenedor*/
    gap: var(--espaciadoComun); /*Espacio entre elementos*/
}

.contenedores_imagenes-grid{
    grid-area: contenedores_imagenes-grid;  /*area de la grid*/
    display: flex; /*Display flex*/
    justify-content: center;    /*Justificar contenido por el centro*/
    align-items: center;    /*Alinear items por el centro*/
    position: var(--losrelativos); /*Posicion relativa*/
}

.contenedor_grid__texto{
    padding: 11vw var(--espaciadoComun);    /*Relleno del contenedor*/
    display: flex;  /*Display flex*/
    flex-direction: column; /*Direccion en columna*/
    gap: var(--espaciadoComun); /*Espacio entre elementos*/
    justify-content: center;     /*Justificar contenido por el centro*/
}

.contenedores_imagenes__chica-hablando{
    width: 80%;     /*ancho de la imagen*/
    height: 80%;    /*Alto de la imagen*/
    border-radius: var(--espaciadoComun);
    filter: grayscale(100%);    /*Darle colores oscuros a la imagen*/
}

.contenedor_grid__texto--up{
    grid-area: contenedor_grid__texto--up;   /*area de la grid*/
}

.contenedor_grid__texto--mid{
    grid-area: contenedor_grid__texto--mid;  /*area de la grid*/
}

.imagenes_mid{
    grid-area: imagenes_mid;     /*area de la grid*/
}

.imagenes_down{
    grid-area: imagenes_down;    /*area de la grid*/
}

.contenedor_grid__texto--down-tercera{
    grid-area: contenedor_grid__texto--down;     /*area de la grid*/
}

.grid__texto-titulos{
    font-size: 3vw;     /*Tamaño del texto*/
    color: var(--colorTitulos);     /*color del texto*/
}

.contenedores_texto__parrafo--grid{
    width: 30vw;    /*ancho del parrafo*/
    text-align: var(--izquierda);   /*Alinear el texto por la izquierda*/
    font-size: 1.5vw;   /*Tamaño del texto*/
}

.contenedores_imagenes__sharpe-grid{
    position: var(--losabsolutos);  /*Posicion absoluta*/
    z-index: 1;     /*Ubicarla como primera(osea que estara debajo del resto de posiciones)*/
    width: 10vw;    /*ancho de la imagen*/
    top: 3.5%;  /*Ubicado por el inicio del contendor*/
    left: 0;    /*Ubicado por el lado izquierdo del contenedor*/
}   

.contenedores_imagenes__sharpe-grid-mid{
    left: 80%;  /*Ubicado por el lado izquierdo del contenedor*/
}

/* sexto contenedor */

.contenedores--testimonio{
    background-color: var(--fondororsa);    /*Color de fondo*/
    align-items: center;    /*Alinear items por el centro*/
}

.contenedores_texto--testimonio{
    width: 55vw;    /*ancho del elemento*/
    text-align: center; /*Alinear el texto por el centro*/
}

.contenedores_texto__parrafo--testimonio{
    text-align: center; /*Alinear el texto por el centro*/
}

.eclipse_sexto_dere{
    position: var(--losabsolutos);  /*Posicion absoluta*/
    right: 0;   /*Ubicado por el lado derecho del contenedor*/
    height: 50vw;   /*Alto de la imagen*/
    top: 15%;   /*Ubicado por el inicio del contendor*/
}

.eclipse_sexto_dere--izq{
    left: 0;    /*Ubicado por el lado izquierdo del contenedor*/
    transform: scaleX(-1);  /*Invertir el sentido de la imagen*/
}

.contenedores_flecha{
    position: var(--losabsolutos);  /*Posicion absoluta*/
    left: 9%;   /*Ubicado por el lado izquierdo del contenedor*/
    top: var(--mitad_porc); /*Ubicado por el inicio del contendor*/
    z-index: 2;     /*Ubicarla como segunda(osea que estara encima de la primera posicion)*/
    color: var(--fondororsa);   /*Color del texto*/
    display: flex;  /*Display flex*/
    align-items: center;    /*Alinear items por el centro*/
    font-size: 1.2vw;   /*Tamaño del texto*/
}

.flecha_izq{
    font-size: 3vw; /*Tamaño del icono*/
}

.contenedor__flecha--next{
    left: 84%;  /*Ubicado por el lado izquierdo del contenedor*/
}

.titulos_testimonio{
    margin-bottom: 4vw; /*Margen debajo del contenedor*/
}

.titulos__jeanne{
    font-size: 2vw; /*Tamaño del texto*/    
    align-self: center;     /*Alinearse por el centro*/
}

.linea__sexto{
    background-color: var(--colorTitulos);  /*Color de fondo*/
    border: solid var(--colorTitulos); /*Borde del elemento*/
    width: 5vw; /*ancho del elemento*/
    align-self: center; /*Alinearse por el centro*/
    margin: 3vw 0 3vw 0;    /*Margen del elemento*/

}

/* septimo contenedor */

.contenedores--join{
    overflow-x: hidden; /*Ocultar el contenido sobrante por el eje x*/
}

.contenedores_texto__titulo--join{
    font-size: 3vw; /*Tamaño del texto*/
}

.contenedores_texto__parrafo--join{
    text-align: start;  /*Alinear texto por la derecha*/
    color: var(--colorTitulos); /*Color del texto*/
}

.eclipse_sexto_dere--septimo{
    top: 10%;   /*Ubicado por el inicio del contendor*/
}

.texto_rosa_curvo{
    position: var(--losabsolutos);  /*Posicion absoluta*/
    right: -9%; /*Ubicado por el lado derecho del contenedor*/
    width: 27vw;    /*ancho de la imagen*/
    top: 15%;   /*Ubicado por el inicio del contendor*/
    z-index: 3;     /*Ubicarla como tercera(osea que estara encima de la segunda posicion)*/
}

.titulos_join{
    margin-bottom: 4vw; /*Margen debajo del contenedor*/
}

.imagen__puntas--join{
    left: 78%;  /*Ubicado por el lado izquierdo del contenedor*/
    z-index: 2; /*Ubicarla como segunda(osea que estara encima de la primera posicion)*/
    top: 20%;   /*Ubicado por el inicio del contendor*/
}


/* Ultimo contenedor */

.contenedores--footer{
    background-color: var(--fondororsa);    /*Color de fondo*/
    height: 28vw;   /*Alto del contenedor*/
    flex-direction: row;    /*Direccion en fila*/
    flex-wrap: wrap;    /*Poner debajo el contenido que no alcance a estar en la fila*/
}

.ultimo__grid{
    display: grid;  /*Display grid*/
    grid-template-columns: 23vw 1fr 1fr 1fr;    /*Columnas de la grid*/
    grid-template-rows: 10vw;   /*Filas de la grid*/
    grid-template-areas: 
    'ultimo__brand ultimo__team ultimo__podcast ultimo__legal'; /*Areas de la grid*/
    gap: var(--espaciadoComun); /*Espacio entre elementos*/
    width: 100%;    /*ancho del contenedor*/
}

.titulos__ultimos{
    font-size: 1.4vw;   /*Tamaño del texto*/
}

.ultimo__texto{
    color: var(--colorTitulos); /*Color del texto*/
}


/* media_querys */

@media(max-width: 800px){ /*cuando el contenido llegue a 800px:*/

    /* primero contenedor */
    .contenedores{
        height: 110vw;  /*Alto del contenedor*/
    }
    .contenedores__microfono{
        width: 7vw;  /*ancho del contenedor*/
        left: var(--mitad_porc);    /*Ubicado por el lado izquierdo del contenedor*/
    }
    .contenedores__imagen-puntas{
        width: 20vw;    /*ancho del contenedor*/
    }
    .icono-menu{
        font-size: 5vw; /*Tamaño del icono*/
    } 
    .contenedores_numeros{
        font-size: 5vw; /*Tamaño del elemento*/
    }

    .contenedores_texto__parrafo{
        font-size: 3.5vw;   /*Tamaño del texto*/
        margin: 4vw 0;  /*Margen del elemento*/
    }
    .boton{
        font-size: 2vw; /*Tamaño del texto*/
        width: 15vw;    /*ancho del boton*/
        height: 6vw;    /*Alto del boton*/
    }
    .contenedores_imagenes__shape{
        top: 71%;   /*Ubicado por el inicio del contendor*/
    }
    .contenedores_imagenes__raya{
        display: var(--anular);     /*No mostrar el elemento*/
    }
    .contenedores_imagenes__raya-inv{
        display: var(--anular);     /*No mostrar el elemento*/
    }
    /* segundo contenedor */
    .titulos__pequeño{
        font-size: 6vw; /*Tamaño del texto*/
    }
    .contenedores_imagenes__texto-verde{
        width: 30vw;    /*ancho del contenedor*/
    }
    .contenedores_imagenes__shape-verde{
        width: 16vw;    /*ancho del contenedor*/
        right: 43%; /*Ubicado por el lado derecho del contenedor*/
    }
    /* cuarto contenedor */
    .contenedores_imagenes__raya-realidad-up, .contenedores_imagenes__raya-realidad-down{
        display: var(--anular); /*No mostrar el elemento*/
    }
    .contenedores_imagenes__eclipse-realidad{
        width: 45vw;    /*ancho del contenedor*/
        height: 98vw;   /*Alto de la imagen*/
    }
    .contenedores_imagenes__chica-realidad{
        height: 90vw;   /*Alto de la imagen*/
    }
    /* contenedor grid */

    .contenedor_grid{
        height: 880vw;  /*Alto del contenedor*/
        grid-template-columns: 100%;    /*Columnas de la grid*/
        grid-template-rows: 110vw 1fr 1fr 1fr 1fr 1fr;  /*Filas de la grid*/
        grid-template-areas: 
        'contenedores_imagenes-grid'
        'contenedor_grid__texto--up'
        'imagenes_mid'
        'contenedor_grid__texto--mid'
        'imagenes_down'
        'contenedor_grid__texto--down';     /*Areas de la grid*/
    }
    .grid__texto-titulos{
        font-size: 6vw; /*Tamaño del texto*/
    }
    .contenedores_texto__parrafo--grid{
        font-size: 4vw; /*Tamaño del texto*/
        width: 65vw;    /*ancho del elemento*/
    }
    .numeros__linea--grid{
        width: 8vw; /*ancho del elemento*/
        height: 1vw;    /*Alto del elemento*/
        
        border: 0.6vw solid var(--colorTitulos);
    }
    .contenedor_grid__texto{
        gap: 5vw;   /*Espacio entre elementos*/
    }

    .contenedores_imagenes__sharpe-grid{
        width: 20vw;    /*ancho de la imagen*/
    }

    .contenedores_imagenes__chica-hablando{
        height: 80%;    /*Alto de la imagen*/
    }
    /* sexto contenedor */
    .contenedores_texto__titulo--testimonio{
        font-size: 10vw;    /*Tamaño del texto*/
    }
    .contenedores_texto__parrafo--testimonio{
        font-size: 2.7vw;   /*Tamaño del texto*/
        width: 40vw;    /*ancho del elemento*/
        align-self: center; /*Alinearse por el centro*/
    }
    .linea-testimonio{
        width: 7vw; /*ancho del elemento*/
    }
    .titulos__jeanne{
        font-size: 4vw; /*Tamaño del texto*/
    }
    .eclipse_sexto_dere{
        height: 70vw;   /*Alto de la imagen*/
    }
    .contenedores_flecha{
        font-size: 3vw; /*Tamaño del texto*/
        top: 45%;   /*Ubicado por el inicio del contendor*/
    }
    .flecha_izq{
        font-size: 5vw; /*Tamaño del icono*/
    }

    /* septimo contendor */

    .contenedores--join{
        height: 85vw;   /*Alto del contenedor*/
    }
    .contenedores_texto__titulo--join{
        font-size: 4vw; /*Tamaño del texto*/
    }
    .texto_rosa_curvo{
        width: 38vw;    /*ancho de la imagen*/
        right: -14%;    /*Ubicado por el lado derecho del contenedor*/
    }
    .imagen__puntas--join{
        width: 15vw;    /*ancho de la imagen*/
        left: 70%;  /*Ubicado por el lado izquierdo del contenedor*/
    }
    /* ultimo contenedor */
    .titulos__ultimos{
        font-size: 5vw; /*Tamaño del texto*/
    }
    .podcast{
        overflow-x: hidden; /*Ocultar el contenido que salga del eje x*/
    }
    /* footer */
    .ultimo__grid{
        grid-template-columns: 35vw 35vw;   /*Columnas de la grid*/
        grid-template-rows: 21vw 21vw;  /*Filas de la grid*/
        grid-template-areas: 
        'ultimo__brand ultimo__team'
        'ultimo__podcast ultimo__legal';    /*Areas de la grid*/
        align-items: center;    /*Alinear items por el centro*/
        align-content: center;  /*Alinear contenido por el centro*/
        
    }
}
